@import '../../scss/variables';

.iconStyle {
    color : $light;
    background-color: $info;
    margin-right: 10px;
    
    &:hover {
        box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.175)!important;
      }
}

.barExtend {
    min-height: 30vh;
    display: flex;
    align-items: flex-start;
}
